body {
	background-color: gray;
}

.book {
	text-align: center;
	width: 45%;
	height: 630px;
	background-color: darkgreen;
	margin-left: auto;
	margin-right: auto;
}


img	{
	width: 20%;
	margin-top: 10px;
}
.text1 {
	padding-top: 40px;
	color: white;
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 10;
}

.text2 {
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: px;
}




